<template>
  <div class="author">
    <g-image
      alt="Author image"
      class="author__image"
      src="~/assets/images/author.jpg"
      width="180"
      height="180"
      blur="5"
    />

    <h1 v-if="showTitle" class="author__site-title">
      {{ $static.metadata.siteName }}
    </h1>

    <p class="author__intro">
      Dev Blog
    </p>

    <p class="author__links">
      <a href="https://twitter.com/ivangsm_"><i class="fab fa-twitter"></i></a>
      <a href="https://github.com/ivangsm"><i class="fab fa-github-alt"></i></a>
      <a href="https://gitlab.com/ivangsm"><i class="fab fa-gitlab"></i></a>
      <a href="https://keybase.io/ivang"><i class="fab fa-keybase"></i></a>
      <a href="https://www.reddit.com/user/ivangsm"><i class="fab fa-reddit-alien"></i></a>
    </p>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
export default {
  props: ["showTitle"],
};
</script>

<style lang="scss">
.author {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  padding: calc(var(--space) / 2) 0;

  &__image {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin-bottom: 1em;
  }

  &__intro {
    opacity: 0.8;
  }

  &__site-title {
    font-size: 1.5em;
  }

  &__links {
    font-size: 1.68em;
    margin-top: -0.5em;
    a {
      margin: 0 0.5em;
    }
  }
}
</style>
